*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: ;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-top: 30px;
}
.para1{
    margin-top: 30px;
    align-self: center;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-image: url(/img/lovecalculator-heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    font-size: 30px;
    text-align: center;
    padding: 50px;
    padding-top: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin: 20px;
    transition: all 0.3s ease-in-out;

}
input{
    display: inline;
    margin: 10px auto;
    padding: 10px;
    padding-top: 20px;
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    font-size: 16px;
    color: #333;
    transition: all 0.3s ease-in-out;
}
input:focus{
    outline: none;
    box-shadow: 0 0 5px #4CAF50;
    background-color: #fff;
}
button{
    display: block;
    padding: 10PX;
    border-radius: 5PX;
    box-shadow: none;
    position: relative;
    left: 500px;
}
button:hover{
    background-color: #e95102;
    transition: all 0.5s ease-in-out;
}
input,button{
    margin-top: 20px;
}
p{
    font-size: x-large;
}
h1{
    
    font-size:70px;
    color: #e95102;
}
nav{
    box-shadow: 2px 4px;
}
#okay{
    border: 2px solid gray;
    padding: 40px;
    border-radius: 10px;
}
@media screen and (max-width:480px){
    nav{
        display: flex;
    }
    body{
        padding: 10px;
    }
    h1{
        font-size:xx-large;
        padding: 10px;
    }
    p{
        font-size: medium;
    }
    button{
        position: relative;
        left: 90px;
    }
}